@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
    <h1>ネストされたオブジェクトにマップするサンプル</h1>
    <p>※NestedObjectModels.csの実装を参照のこと。</p>
      <ul>
        <li>@Html.ActionLink("1対1の関係のオブジェクト３つにマップ", "Sample1", "NestedObject")</li>
        <li>@Html.ActionLink("1対多の関係のオブジェクトにマップ", "Sample2", "NestedObject")</li>
      </ul>
        
    </div>
</body>
</html>
